extends ../template.pug
block head
  title Guides | Garen Tyler
block body
  .content
    .fch
      .fv
        .fch
          h1 Guides
        ul
          li #[a(href='/guides/a-beginners-guide-to-git') A Beginner's Guide to Git] (Last updated 11/5/19)
