extends template.pug
block head
  title 500 Internal Server Error | Garen Tyler
block body
  .fch
    h1 500 Internal Server Error
  .fch
    h2 Sorry! Something went wrong with the server. Please let me know at #[a(href='mailto:garentyler@gmail.com') garentyler@gmail.com].
