extends template.pug
block head
  title Garen Tyler
  style.
    .vertical-paragraph {
      max-width: 50vw;
    }
    @media (max-width:600px) {
      .vertical-paragraph {
        max-width: 75vw;
      }
      h1 {
        text-align: center;
      }
    }
block body
  .content
    .fch
      h1 Hi, I'm Garen!
    .sv
    .fch
      p.vertical-paragraph I'm a sophomore in high school, and I program, mountain bike, and ski for fun. I mountain bike and ski competitively with my school, but I program for fun. I started out on #[a(href='https://scratch.mit.edu/') Scratch], then I learned a little Python. Eventually, I took the #[a(href='https://www.khanacademy.org/computing/computer-programming#programming') Intro to JS course] on #[a(href='https://www.khanacademy.org/') Khan Academy] and learned the basics of JavaScript. Since then, I've learned to make web apps using #[a(href='https://nodejs.org/en/') Node.js] and #[a(href='https://expressjs.com/') Express]. Using Node.js and Express, I've made a few professional web apps for #[a(href='https://inboundsystems.com/') Inbound Systems]. These include #[a(href='#easyintakeforms') Easy Intake Forms], the #[a(href='#vet500') Vet500] nationwide voting software, and the #[a(href='#idahosbest') Idaho's Best] local voting software. I'd heard about Rust before, but I decided to take a deeper look at it than a simple "Hello world!" project. I took interest in it and started to learn it by #[a(href='#rust-experiments') making projects] at the beginning of 2020.
