extends template.pug
block head
  title Garen Tyler
block body
  h1 Hi, I'm Garen!
  h2 About Me
  .indent
    p I'm a sophomore in high school, and I program, mountain bike, and ski for fun. I mountain bike and ski competitively with my school, but I program for fun. I started out on #[a(href='https://scratch.mit.edu/') Scratch], then I learned a little Python. Eventually, I took the #[a(href='https://www.khanacademy.org/computing/computer-programming#programming') Intro to JS course] on #[a(href='https://www.khanacademy.org/') Khan Academy] and learned the basics of JavaScript. Since then, I've learned to make web apps using #[a(href='https://nodejs.org/en/') Node.js] and #[a(href='https://expressjs.com/') Express]. Using Node.js and Express, I've made a few professional web apps for my dad. These include #[a(href='https://easyintakeforms.com/') Easy Intake Forms], the #[a(href='https://www.dvminsider.com/vet500/') Vet500 voting software], and the #[a(href='https://www.idahosbest.com/') 2019 Idaho's Best voting software]. Now, I'm trying to learn how programming languages work by making Pivot, C by making ghOSt, and iOS App Development by making Clander.
  h2 My Main Projects
  .indent
    h3 Pivot
    .indent
      p Pivot is my experimental programming language. The goal is to better understand what compilers do and how programming languages work. Check it out on #[a(href='https://github.com/ElementG9/Pivot') GitHub].
    .sv
    h3 ghOSt
    .indent
      p ghOSt is my experimental operating system. The goal is to better understand what operating systems do and the scale of current operating systems. Check it out on #[a(href='https://github.com/ElementG9/ghOSt') GitHub].
    .sv
    h3 Clander
    .indent
      p Clander is a simple calendar app. I'm working on it with my friend #[a(href='https://khimno.com/') Danton]. Check it out on #[a(href='https://github.com/ElementG9/Clander') GitHub].
  
