extends ../../template.pug
block head
  title A Beginner's Guide to Git | Guides | Garen Tyler
block body
  .content
    .fch
      h1 A Beginner's Guide to Git
    .fch
      p By Garen Tyler
    .sv
    .fch
      p This guide gives commands in the Linux / Unix format. They may or may not work on Windows systems.
    hr
    .fch
      .fv
        .fch
          h3#what-is-git 1 - What is Git?
        p #[a(href='https://git-scm.com/') Git] is a versioning control system that allows developers to collaborate and share code effectively.
        .sv
        p A popular product based on Git is #[a(href='https://github.com/') GitHub]. GitHub is many things, including a Git server, a social network, and a web app. Using GitHub allows you to easily share your code.
    hr.smallhr
    .fch
      .fv
        .fch
          h3#git-vocabulary 2 - Git Vocabulary
        .sv
        .fch
          p Git has many terms, but many of them are simple. Services such as GitHub or GitLab share this vocabulary.
        ul
          li #[b Repository] - Often shortened to repo, a repository is a code project or codebase. Repositories can contain many files and many folders.
          li #[b Commit] - A commit is a collection of changes to a repo. Changes can be across multiple files.
          li #[b Staging] - Before adding changes to a commit, the changes must be staged in order to be included in the next commit.
          li #[b Push] - To add your changes to a remote repo that you have write access to.
          li #[b Pull] - To get the newest changes to a remote repo that you have read access to.
          li #[b Clone] - To download a copy of a remote repo locally. Changes you make to your copy do not affect the original.
          li #[b Fork] - To create your own version of a repo. You own this copy, and can make as many commits to it as you want. If you want to merge your fork with the original, you'll need to create a pull request.
          li #[b Pull Request] - To ask the owner of a repo to accept your changes.
          li #[b Branch] - A version of a repo. Repos can have many branches, with differing purposes and code.
    hr.smallhr
    .fch
      .fv
        .fch
          h3#using-git 3 - Using Git
        .fch
          p Git has many clients and iterations, of which we will cover the CLI commands. If you understand the vocabulary, you should easily be able to use a GUI such as #[a(href='https://desktop.github.com/') GitHub Desktop] or #[a(href='https://git-scm.com/downloads') Git GUI].
        .sv
        .fch
          h4 Git CLI Commands
        ul
          li #[b Creating a repo] - Type #[code git init] to create a repo in the current folder.
          li #[b Cloning a repo] - Type #[code git clone repo] to clone the repo. Change #[code repo] to the URL of a repository, such as #[a(href='https://github.com/ElementG9/Pivot') https://github.com/ElementG9/Pivot].
          li #[b Staging changes] - After making changes, type #[code git add .] to stage all changes. Change the #[code .] to a file name to stage that file.
          li #[b Committing changes] - After staging your changes, type #[code git commit -m "commit message"] to commit your changes locally. Change #[code commit message] to something that describes what you changed in that commit. Bad commit messages can make it hard for you or others to see what you changed when reviewing the code later.
          li #[b Pushing your changes] - To push changes to a remote repo, type #[code git push origin master]. #[code master] is the default branch name. Change #[code master] to something else to push to a different branch.
          li #[b Pulling changes] - To pull changes to a repo, type #[code git pull origin master]. #[code master] can be changed to pull from a different branch.
    hr.smallhr
    .fch
      .fv
        .fch
          h3#questions 4 - Questions
        p Have any questions, comments, or suggestions? Contact Garen by #[a(href='mailto:garentyler@gmail.com') sending an email] or #[a(href='https://github.com/ElementG9') visiting his GitHub].
